---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import PostListing from "../../components/PostListing.astro";

const title = "Blog posts";
const posts = await getCollection("blog");
---

<Base title={title}>
  <main>
    <h1>{title}</h1>
    <ul>
      {posts.map((post) => <PostListing id={post.id} data={post.data} />)}
    </ul>
  </main>
</Base>
