---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import TagsList from "../../components/TagsList.astro";

const title = "Tags index";
const posts = await getCollection("blog");
const tags = [...new Set(posts.flatMap((post) => post.data.tags))];
---

<Base title={title}>
  <main>
    <h1>{title}</h1>
    <TagsList tags={tags} />
  </main>
</Base>