:root {
  --background-color: white;
  --font-color: black;
  --link-color: blue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #202020;
    --font-color: white;
    --link-color: cornflowerblue;
  }

  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 0;
  margin: 0;
}

/* Site Header */
#site-header {
  background-color: pink;

  section {
    display: flex;
    align-items: center;
    border-bottom: white solid 1px;
    padding: 1rem;
    padding-bottom: 0.5rem;

    span {
      font-size: 1.5rem;
    }

    div {
      flex-grow: 1;
    }

    .hamburger {

    }
  }

  #site-navigation {
    display: none;
  }

  a {
    text-decoration: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 0;
    margin: 0;

    li {
      list-style: none;
    }
  }
}

/* Containers */
main {
  max-width: 75ch;
  padding: 15px;
}

pre {
  padding: 15px;
}

/* Text */
a {
  color: var(--link-color);
}

code {
  font-size: 1rem;
}

/* Headings */
.heading-group {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.3rem;

  a {
    margin-left: 0.5rem;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
}
