@import "./palette.css";

body {
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 0;
  margin: 0;
}

main {
  max-width: 75ch;
  padding: 15px;
}

pre {
  padding: 15px;
}

a {
  color: var(--link-color);
}

code {
  font-size: 1rem;
}

.heading-group {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.3rem;

  a {
    margin-left: 0.5rem;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}
