---
import Base from "../layouts/Base.astro"

const title = "My Astro Page";
---

<Base title={title}>
	<main>
		<h1>{title}</h1>
		<p>This is my very fancy web page, made with Astro!</p>
	</main>
</Base>