---
import "../styles/base.css";
import Hamburger from "../components/Hamburger.astro";
import NavigationLinks from "../components/NavigationLinks.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header id="site-header">
      <section>
        <span id="site-name">adrian</span>
        <div />
        <button id="hamburger">🍔</button>
      </section>
      <nav id="site-navigation">
        <NavigationLinks />
      </nav>
    </header>
    <slot />
    <script>
       document.querySelector("#hamburger")?.addEventListener("click", () => {
        const navigation = document.querySelector("#site-navigation");

        if (!navigation || !(navigation instanceof HTMLElement)) {
          return;
        }

        const display = window.getComputedStyle(navigation).getPropertyValue("display");

        if (display === "none") {
          navigation.style.display = "block";
        } else {
          navigation.style.display = "none";
        } 
       });
    </script>
  </body>
</html>
